/* fonts */

@font-face {
	font-family: 'Maison Neue Web';
  	src: url('../fonts/MaisonNeueWEB-Book.woff2') format('woff2'),
         url('../fonts/MaisonNeueWEB-Book.woff') format('woff');

	font-style: normal;
	font-weight: 300;
}

* {
	font-family: 'Maison Neue Web', Helvetica, Arial, sans-serif;
	padding: 0px;
	margin: 0px;
	
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;  	

	font-feature-settings: ‚kern‘ 1, ‚liga‘ 1, ‚tnum‘ 1;
	font-weight: 300;
}


body {
	text-align: left;
	color: #0000FF;
	cursor: col-resize;

	font-feature-settings: ‚kern‘ 1, ‚liga‘ 1, ‚tnum‘ 1;
}

a {
	color: #0000FF;
	cursor: pointer;
}


a.session1 {
	color: #0000FF;
	cursor: pointer;
	
   -webkit-animation: blueAnimation 5s infinite;
   -moz-animation: blueAnimation 5s infinite;
   -o-animation: blueAnimation 5s infinite;
    animation: blueAnimation 5s infinite;	
	

}

a:hover {
	text-decoration: none;
}

a#info-link {
	display: block;
	position: fixed;
	color: red;
	bottom: 40px;
	left: 40px;

	z-index: 100000000;

}

/* landing page */

.intro {
	font-size: 65px;
	line-height: 90px;
	display: block;
	position: relative;
	width: 100vw;
	min-height: 100vh;
	box-sizing: border-box;

	font-feature-settings: ‚kern‘ 1, ‚liga‘ 1, ‚tnum‘ 1;

}

.intro h2{
	font-weight: 300;
	margin: 0px;
	padding: 0px;

	position: absolute;

}

h2.title {
	display: block;
	top: 30px;
	left: 30px;
	text-align: left;
}

h2.date {
	top: 50%;
	width: 100%;

	height: 180px;
	margin-top: -90px;

	text-align: center;
}

h2.location {
	text-align: right;

	bottom: 30px;
	right: 30px;
}

/* columns */

#left, #right {
	width: 50%;
	height: 100vh;
	position: fixed;
	top: 0px;
    overflow-x: hidden;
	overflow-y: scroll;
}

.content {
	padding: 50px;
	box-sizing: border-box;
	font-size: 32px;
	line-height: 40px;
	padding-bottom: 100px;
}

h1, h3 {
	font-weight: 300;
	text-align: center;
	margin: 100px 0px 20px;
	font-size: 32px;
	line-height: 40px;
	display: block;
	position: relative;
}

h3 {
	text-transform: uppercase;
}

p {
	display: block;
	margin-bottom: 40px;
	position: relative;
	font-feature-settings: ‚kern‘ 1, ‚liga‘ 1, ‚tnum‘ 1;

}


/* left column */

#left {
	left: 0px;
}

ul, ul li, li {
	list-style-position: inside;
	list-style-type: none;
}

ul {
	margin-bottom: 40px;
}


/* right column */

#right {
	right: 0px;
}


#right .intro {
	transform: translateX(-50%);
}

.reading-title {
	display: block;
}

.author, .location {
	display: block;
	margin-left: 40px;
}

.reading-link {
	display: block;
}


/* transcription */


#transcript-frame {
	position: fixed;
	top: 0px;
	left: 0px;
    overflow-x: hidden;
	overflow-y: scroll;

	box-sizing: border-box;

	width: 100%;
	width: 1%;
	height: 100vh;

	font-size: 65px;
	line-height: 80px;	
	color: white;
	background: rgb(0,0,255);
	z-index: 1000;

	
   -webkit-animation: breathingAnimation 5s infinite;
   -moz-animation: breathingAnimation 5s infinite;
   -o-animation: breathingAnimation 5s infinite;
    animation: breathingAnimation 5s infinite;	
	
	/*
	-webkit-transition: all 900ms;
    transition: all 900ms;
	*/
}

#text-stream {
	position: relative;
	width: 100vw;
	padding: 50px;
	box-sizing: border-box;
}

#transcript {
}

#interim { color: #002EB0; }

#interim::after {
	content: "\00a0\00a0\00a0";
	border-bottom: 2px solid white;
	margin-bottom: 100px;

   -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;	
}

a.strike-through {
	text-decoration: line-through;
}

/* breathing animation */

@keyframes breathingAnimation {
  0%   { background-color:#0000FF; }
  50%  { background-color:#8888FB; }
  100% { background-color:#0000FF; }
}
@-o-keyframes breathingAnimation{
  0%   { background-color:#0000FF; }
  50%  { background-color:#8888FB; }
  100% { background-color:#0000FF; }
}
@-moz-keyframes breathingAnimation{
  0%   { background-color:#0000FF; }
  50%  { background-color:#8888FB; }
  100% { background-color:#0000FF; }
}
@-webkit-keyframes breathingAnimation{
  0%   { background-color:#0000FF; }
  50%  { background-color:#8888FB; }
  100% { background-color:#0000FF; }
}

/* breathing blue animation */

@keyframes blueAnimation {
  0%   { color:#0000FF; }
  50%  { color:#8888FB; }
  100% { color:#0000FF; }
}
@-o-keyframes blueAnimation{
  0%   { color:#0000FF; }
  50%  { color:#8888FB; }
  100% { color:#0000FF; }
}
@-moz-keyframes blueAnimation{
  0%   { color:#0000FF; }
  50%  { color:#8888FB; }
  100% { color:#0000FF; }
}
@-webkit-keyframes blueAnimation{
  0%   { color:#0000FF; }
  50%  { color:#8888FB; }
  100% { color:#0000FF; }
}

/* fading animation */

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

/* animating gradient */

#gradient {
	position: fixed;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	z-index: 0;

	pointer-events: none;

}

#gradient2 {
	position: fixed;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	z-index: 0;
	background-image: -webkit-radial-gradient(80% 10%, circle, rgb(0,255,255), transparent),  -webkit-radial-gradient(80% 50%, circle, rgb(0,0,255), transparent),  -webkit-radial-gradient(20% 80%, 40em 40em, rgb(255,0,0), transparent),  -webkit-radial-gradient(10% 10%, circle, rgb(255,0,255), transparent);

	pointer-events: none;
}

.center {
	text-align: center;
}


@media screen and (max-width: 1270px) and (min-width: 736px) {
	.intro, #transcript-frame, #transcript {
		font-size: 60px;
		line-height: 85px;
	}

	.content, h1, h3 {
		font-size: 28px;
		line-height: 36px;
	}
	 
}

/* phones */
@media only screen and (max-device-width: 736px) { 

	/* sticky link */

	a#info-link {
		bottom: 20px;
		left: 20px;
	}

	/* font sizes */

	.intro, #transcript-frame, #transcript {
		font-size: 24px;
		line-height: 34px;
	}

	.content, h1, h3 {
		font-size: 17px;
		line-height: 24px;
	}


	h2.title {
		top: 30px;
		left: 30px;
	}

	h2.date {
		height: 70px;
		margin-top: -35px;
	}

	h2.location {
		bottom: 30px;
		right: 30px;
	}


	/* before event */

	#left, #right {
		width: 100%;
		height: auto;
		position: relative;
	    overflow-x: hidden;
		overflow-y: scroll;
	}

	#right .intro {
		display: none;
	}

	#transcript-frame {
		display: none;
	}

	.content {
		padding: 20px;
	}

	#right .content {
		padding-top: 0px;
		padding-bottom: 100px;
	}
	
	/* during event 


	#transcript-frame {
		position: absolute;
		top: 0px;
		left: 0px;
		overflow: auto;

		width: 100%;
		height: auto;
		
		display: block;
	}	

	#text-stream {
		padding: 50px 20px 100px;
	}

	#left, #right {
		display: none;
	}
		
	*/
}
